{%import 'utility.html' as utl %}

{{ utl.DashboardhtmlMetaTopToCode('sabari') }}


<body>

{{ utl.Navbar() }}
<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <div class="text-center">
                <div class="row row-cols-2">
                    <div class="col">
                        <div>
                            <h4>Average</h4>
                            <p>Average can be defined as the sum of all the numbers divided by the total number of values</p>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <img src="https://www.gstatic.com/education/formulas2/553212783/en/arithmetic_mean.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <div class="text-center">
                <div class="row row-cols-2">
                    <div class="col">
                        <div>
                            <h4>Mean</h4>
                            <p>Mean is the average of the given numbers and is calculated by dividing the sum of given numbers by the total number of numbers.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <img src="https://graziano-raulin.com/images/mean.png" alt="" width="191px" height="96px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <div class="text-center">
                <div class="row row-cols-2">
                    <div class="col">
                        <div>
                            <h4>Variance</h4>
                            <p>Variance is the expected value of the squared variation of a random variable from its mean value, in probability and statistics.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <img src="https://d4y70tum9c2ak.cloudfront.net/contentImage/f1xr7mgXgAxHoy9D6TKL9HHx7W6LJF_xG%2BFzrqftA5E/resized.png" alt="" width="191px" height="96px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <div class="text-center">
                <div class="row row-cols-2">
                    <div class="col">
                        <div>
                            <h4>Standard deviation</h4>
                            <p>Standard deviation formula is used to find the values of a particular data that is dispersed.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <img src="https://www.gstatic.com/education/formulas2/553212783/en/population_standard_deviation.svg" alt="" width="191px" height="96px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   <script>
    var element = document.getElementById("blog");
    element.style.color = "#F4D160";
   </script>
    {{ utl.htmlMetaBottomToCode()}}



